@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* fonts */
@font-face {
  font-family: 'Avenir';
  font-weight: 300;
  font-style: normal;
  src: url('./fonts/Avenir-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Avenir';
  font-weight: 400;
  font-style: normal;
  src: url('./fonts/Avenir-Book.ttf') format('truetype');
}

@font-face {
  font-family: 'Avenir';
  font-weight: 500;
  font-style: normal;
  src: url('./fonts/Avenir-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Avenir';
  font-weight: 800;
  font-style: normal;
  src: url('./fonts/Avenir-Heavy.ttf') format('truetype');
}

@font-face {
  font-family: 'Avenir';
  font-weight: 900;
  font-style: normal;
  src: url('./fonts/Avenir-Black.ttf') format('truetype');
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
 
  100% {
    transform: translateX(calc(-100% - 200px));
  }
}

select {
  appearance: none; /* Hides the default arrow */
  -webkit-appearance: none; /* Safari-specific */
  -moz-appearance: none; /* Firefox-specific */
  background-image: url('../../public/images/icon-view-down.png');
  background-repeat: no-repeat;
  background-position: right 16px center; /* Adjusts the arrow position */
  background-size: 12px 7px; /* Arrow size */
  padding-right: 40px; /* Creates space for the arrow */
}